:root {
    --color: #001e5e;
}

body {
    background-color: seashell;
    margin: 0;
    padding: 0;
    color: #102552;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    margin-top: 50px;
    padding: 50px;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #9ec787;
    background-image: url("mole.png");
    background-size: cover;
}

.mole {
    background-image: url("chara.png");
    background-size: cover;
}

#restart {
    padding: 10px 20px;
    color: rgb(255, 254, 187);
    background-color: #da5380;
    border-color: #01c097;
    border-radius: 5px;
    font-size: 1rem;
    transition: 200ms;
}

#restart:hover {
    background-color: #484a8b;
    transform: translateY(-5px);
}

#clickme {
    padding: 10px 20px;
    color: rgb(255, 254, 187);
    background-color: #484a8b;
    border-color: #01c097;
    border-radius: 5px;
    font-size: 1rem;
    transition: 200ms;
}

#clickme:hover {
    background-color: #da5380;
    transform: translateY(-5px);
}
